extends layout

block layout-content
  div.View
    h1.Banner Salesforce Google Assistant API v2
    div.Message
      div.Title
        h3 Making the Best
        h1 Code For Devs
      span.Details Access the Salesforce Team Portal
    div.NavButtons
      a(href="https://rashidprofile.herokuapp.com/")
          div.NavButton Just dive in!